# Ignore everything...
*

# ...except these
!.gitignore
!README.md
!hypr/
!hypr/**
!rofi/
!rofi/**
!waybar/
!waybar/**
!xdg-desktop-portal/
!xdg-desktop-portal/**
!Code/
!Code/User/
!Code/User/settings.json
!kitty/
!kitty/kitty.conf
!fastfetch/
!fastfetch/config.jsonc
